<div class="archive-wrapper" id="archivemenu">

    <div class="archive-container">

        <!--  -->

        <div class="archive-header">
            <h1><span class="yarndings-20">F </span> Commissions and Works <span class="yarndings-20"> F</span></h1>

        </div>

        <div class="archive-grid">

            <div class="archive-grid-item" style="border-radius: 20px 0px 0px 0px;">
                <a href=""><img src="./images/a.jpg" style="border-radius: 20px 0px 0px 0px;"></a>
            </div>

            <div class="archive-grid-item">
                <a href=""><img src="./images/a.jpg"></a>
            </div>

            <div class="archive-grid-item">
                <a href=""><img src="./images/a.jpg"></a>
            </div>

            <div class="archive-grid-item">
                <a href=""><img src="./images/a.jpg"></a>
            </div>

            <div class="archive-grid-item">
                <a href=""><img src="./images/a.jpg"></a>
            </div>

            <div class="archive-grid-item">
                <a href=""><img src="./images/a.jpg"></a>
            </div>


        </div>
        <br><br>
        <!-- Each archive-box is a project in your archive folder, copy and paste part to add more. 
             The a tag represents a link, therefore turning each archive-box into a link to your project. 
        -->

        <a href="./archive/exampleproj.html">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>White-Eyelid Mangabey</h1>
                </div>
                <div class="archive-date">
                    <h1>2025</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/a.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Terrestrial Guenon</h1>
                </div>
                <div class="archive-date">
                    <h1>2025</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/b.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Atlantic Forest Marmoset</h1>
                </div>
                <div class="archive-date">
                    <h1>2025</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/c.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Snub-Nosed Monkey</h1>
                </div>
                <div class="archive-date">
                    <h1>2024</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/d.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Hoolock Gibbon</h1>
                </div>
                <div class="archive-date">
                    <h1>2024</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/e.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Saddle-Back Tamarin</h1>
                </div>
                <div class="archive-date">
                    <h1>2024</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/f.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>
        <br><br>
        <div class="archive-header">
            <h1>Research & Workflow *</h1>

        </div>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Gracile Capuchin Monkey</h1>
                </div>
                <div class="archive-info">
                    <h1>Photoshop & Illustrator</h1>
                </div>
                <div class="archive-date">
                    <h1>2024</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/g.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Squirrel Monkey</h1>
                </div>
                <div class="archive-info">
                    <h1>Comfyui Img Generation, Claude</h1>
                </div>
                <div class="archive-date">
                    <h1>2024</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/h.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Dwarf Lemur</h1>
                </div>
                <div class="archive-info">
                    <h1>Postshot Gaussian Splat, Three.js</h1>
                </div>
                <div class="archive-date">
                    <h1>2023</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/i.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Slender Loris</h1>
                </div>
                <div class="archive-info">
                    <h1>C++, OpenFrameworks</h1>
                </div>
                <div class="archive-date">
                    <h1>2023</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/i.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Needle-Clawed Bushbaby</h1>
                </div>
                <div class="archive-info">
                    <h1>Ableton, Max SMP</h1>
                </div>
                <div class="archive-date">
                    <h1>2023</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/i.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Greater Galago</h1>
                </div>
                <div class="archive-info">
                    <h1>Monkey</h1>
                </div>
                <div class="archive-date">
                    <h1>2022</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/i.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

    </div>

</div>